.popup {
    display: none;
    position: fixed;
    inset: 0;
    z-index: 200;
    width: 100%;
    height: 100%;
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
}

.popup_openned {
    display: block;
    overflow: hidden;
    height: 100vh;
}

.popup_opened .container {
    max-height: 100vh;
    overflow: hidden;
}

.popup__overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: #BE93C5;
    background: -webkit-linear-gradient(to right, #dcd0e2e8, #ece2f0e7);
    background: linear-gradient(to right, #dcd0e2e8, #ece2f0e7);
}

.popup__container {
    margin: 0 auto;
    box-sizing: border-box;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    max-height: 80vh;
    height: 100%;
}

.popup__close {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    align-self: flex-end;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: box-shadow 0.3s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgb(255, 255, 255) 0px 0px 0px 1px inset;
}

.popup__close:hover {
    box-shadow: none;
    transition: box-shadow 0.3s;
}


.popup__close span {
    display: block;
    width: 30px;
    height: 5px;
    border-radius: 5px;
    background-color: #ac89b8;
}

.popup__close span:first-child {
    position: absolute;
    transform: rotate(45deg);
}

.popup__close span:last-child {
    position: absolute;
    transform: rotate(-45deg);
}

.popup__arrow-right {
    display: block;
    position: absolute;
    right: 20px;
    top: 48%;
    width: 60px;
    height: 60px;
    background: url('./../images/arrow.png');
    background-size: contain;
    transform: rotate(180deg);
    cursor: pointer;
}

.popup__arrow-left {
    display: block;
    position: absolute;
    left: 20px;
    top: 48%;
    width: 60px;
    height: 60px;
    background: url('./../images/arrow.png');
    background-size: contain;
    cursor: pointer;

}



.popup__image {
    box-sizing: border-box;
    display: flex;
    margin: 0 auto;
    max-height: 85vh;
    object-fit: cover;
    width: 80%;
    border-radius: 5px;
    background-color: #dcd0e2;
    box-shadow: rgba(0, 0, 0, 0.368) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.popup-project {
    display: none;
}

.popup_openned {
    display: block;
}


.popup-project__container {
    height: 100%;
    padding: 30px 50px;
    border-radius: 10px;
    background-color: #fff;
    margin: 0 auto;
    max-width: 70%;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: rgba(0, 0, 0, 0.368) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.popup-project__content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.popup-project__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popup-project__link {
    padding: 10px;
}

.popup-project__title {
    font-family: "Roboto Slab", serif;
    font-size: 32px;
    font-weight: 400;
    color: #8056aa;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 10px;
}

.popup-project__image-container {
    display: grid;
    grid-template-areas:
        'image1 image1 image2 image3'
        'image1 image1 image4 image5';
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: minmax(120px, 240px);
    grid-auto-rows: minmax(120px, 240px);
    gap: 10px;
}

.popup-project__image {
    background-color: #dcd0e2;
}

.popup-project__image_1 {
    grid-area: image1;
    width: 100%;
    object-fit: cover;
    margin-bottom: 20px;
}

.popup-project__image_2 {
    grid-area: image2;

}

.popup-project__image_3 {
    grid-area: image3;
}

.popup-project__image_4 {
    grid-area: image4;
}

.popup-project__image_5 {
    grid-area: image5;
}

.popup-project__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;

}

.popup-project__download-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.popup-project__download-info {
    font-weight: bold;
    margin: 0;
    color: #8056aa;
}

@media (max-width:1280px) {
    .popup-project__image-container {
        grid-template-rows: minmax(120px, 160px);
        grid-auto-rows: minmax(120px, 160px);
    }

    .popup-project__container {
        height: fit-content;
        font-size: 14px;
        padding: 40px;
        max-width: 80%;
    }
}

@media(max-width:968px) {

    .popup__container {
        padding: 20px;
    }


    .popup__arrow-right,
    .popup__arrow-left {

        width: 30px;
        height: 30px;

    }



    .popup-project__image-container {
        grid-template-rows: minmax(120px, 160px);
        grid-auto-rows: minmax(120px, 160px);
        gap: 10px;
    }


}

@media(max-width:768px) {
    .popup-project__image-container {
        display: grid;
        grid-template-areas:
            'image1 image2'
            'image3 image4';
        grid-template-columns: 1fr;
        grid-template-rows: minmax(120px, 180px);
        grid-auto-rows: minmax(120px, 180px);
        gap: 10px;
    }

    .popup-project__image_5 {
        grid-area: image5;
        display: none;
    }

    .popup-project__title {
        font-size: 24px;
    }
}

@media(max-width:568px) {
    .popup-project__title {
        font-family: "Roboto Slab", serif;
        font-size: 18px;
    }

    .popup__image {
        object-fit: cover;
        width: 100%;

    }

    .popup-project__container {
        padding: 10px;
        max-width: 95%;
        max-height: 100%;
        font-size: 12px;
    }

    .popup-project__image-container {
        display: grid;
        grid-template-areas:
            'image1'
            'image2'
            'image3'
            'image4';
        grid-template-columns: 1fr;
        grid-template-rows: 220px;
        grid-auto-rows: 220px;
        overflow: scroll;
        max-height: 220px;
        gap: 10px;
    }

    .popup-project__download-container {
        flex-direction: column;
    }

    .popup__close {
        width: 20px;
        height: 20px;
        padding: 15px;

    }

    
    .popup__close span {
        display: block;
        width: 15px;
        height: 3px;
        border-radius: 5px;
        background-color: #ac89b8;
    }

}

@media(max-width:468px) {
    .popup-project__link {
        width: 100%;
    }

    .popup-project__close {
        top: 20px;
    }
}